* {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#main {
    height: 600px;
    background: url("assets/main_backgrounc.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    background-color: transparent;
    height: 300px;
    margin-top: 25vh;
    margin-right: 10vh;
}

#text #tran {
    font-family: Josefin Sans;
    font-weight: bolder;
    font-size: 65px;
    color: white;
}

#life {
    font-weight: 100;
    color: white;
    font-size: 45px;
    margin-top: -40px;
    font-family: Josefin Sans;
}

#text button {
    border: none;
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Josefin Sans;
    border-radius: 20px;
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.411);
}

#second {
    height: auto;
    background-color: #232121;
    justify-content: center;
    text-align: center;
}

#story {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: Josefin Sans;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: transparent;
}

#photos {
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: center;
}

#photos::-webkit-scrollbar {
    display: none;
}

#photos img {
    background-attachment: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    width: 300px;
    height: auto;
}

#book {
    height: 650px;
    background: #232121;
}

#title {
    width: auto;
    height: 100px;
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Josefin Sans';
    color: white;
    padding-top: 40px;
}

#book #pack {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#select select {
    width: 240px;
    padding: 10px;
    background-color: #555555;
    border-radius: 10px;
    border: none
}

option {
    padding: 50px;
}

#details {
    width: auto;
    height: 200px;
    background-color: transparent;
}

#names {
    margin-top: 18px;
    width: auto;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#names input {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 28px;
    background-color: #555555;
    border-color: #707070;
    color: white;
    border-radius: 10px;
    border: none;
}

#botton {
    width: auto;
    height: 100px;
    background: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
}

#botton button {
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #09D81D;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Josefin Sans';
}

#pack {
    margin-top: 30px;
}

#icons,
#idss {
    background-color: transparent;
    text-align: center;
    color: white;
    font-family: 'Josefin Sans';
    font-size: 18px;
}

#icons img {
    padding: 15px;
}

@media only screen and (max-width: 980px) {
    #main {
        height: 700px;
    }
    #text {
        margin-top: 40vh;
    }
    #photos {
        border: none;
        display: inline-block;
        padding: 20px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    #pack {
        margin-top: 30px;
    }
    #names {
        display: inline-block;
        text-align: center;
    }
    #names input {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #botton {
        margin-top: 30px;
    }
}